* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  font-size: 20px;
  font-weight: 100;
  color: rgb(105, 105, 105);
}
.home {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/bg/elena-joland-mjeQon0Mh_Q-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 250px;
  height: 220px;
}
p {
  margin-top: 3px;
  margin-bottom: 3px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  background-color: rgb(183, 196, 160);
}
.coming-soon {
  font-size: 30px;
}
